In [152]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score
from time import time

In [153]:
df1 = pd.read_csv('kdd99.csv')

In [154]:
len(df)

311028

In [155]:
df1.shape

(311028, 42)

In [156]:
df1.columns= ['duration','protocol_type','service', 'flag','src_bytes',
                  'dst_bytes','Land','Wrong_fragment','urgent','hot','num_failed_logins',
                 'logged_in', 'num_compromised','root_shell','sudo_attempted', 'num_root',
                  'num_file_creations','num_shells','num_access_files','num_outbound_cmds',
                  'is_hot_login','is_guest_login','count','srv_count','serrot_rate',
                  'srv_serror_rate','rerror_rate','srv_rerror_rate','same_srv_rate',
                 'diff_srv_rate','srv_diff_host_rate','dst_host_count','dst_hostsrv_count',
                 'dst_host_same_srv_rate','dst_host_diff_srv_rate','dst_host_same_src_port_rate',
                 'dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate',
                 'dst_host_rerror_rate','dst_host_srv_rerror_rate',
                  'Attack_names']

In [157]:
df=df1

In [158]:
df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,Land,Wrong_fragment,urgent,hot,...,dst_hostsrv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,Attack_names
0,0,udp,private,SF,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,normal.
1,0,udp,private,SF,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,normal.
2,0,udp,private,SF,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,snmpgetattack.
3,0,udp,private,SF,105,146,0,0,0,0,...,254,1.0,0.01,0.01,0.0,0.0,0.0,0.0,0.0,snmpgetattack.
4,0,udp,private,SF,105,146,0,0,0,0,...,255,1.0,0.00,0.01,0.0,0.0,0.0,0.0,0.0,snmpgetattack.

In [159]:
#df['Attack_names']=df['Attack_names'].replace({ 'normal.' : 0, 'neptune.' : 1 ,'back': 1, 'land': 1, 'pod': 1, 'smurf.': 1, 'teardrop': 1,'mailbomb': 1, 'apache2': 1, 'processtable': 1, 'udpstorm': 1, 'worm': 1,
#                          'ipsweep' : 2,'nmap' : 2,'portsweep' : 2,'satan' : 2,'mscan' : 2,'saint' : 2,
#                           'ftp_write': 3,'guess_passwd': 3,'imap': 3,'multihop': 3,'phf': 3,'spy': 3,'warezclient': 3,'warezmaster': 3,'sendmail': 3,'named': 3,'snmpgetattack.': 3,'snmpguess': 3,'xlock': 3,'xsnoop': 3,'httptunnel': 3,
#                           'buffer_overflow': 4,'loadmodule': 4,'perl': 4,'rootkit': 4,'ps': 4,'sqlattack': 4,'xterm': 4})
df['protocol_type']=df['protocol_type'].replace({'icmp' : 0, 'tcp' : 1, 'udp' : 2})
df['service']=df['service'].replace({'auth':0, 'bgp':1, 'courier':2, 'csnet_ns':3, 'ctf':4, 'daytime':5, 'discard':6, 'domain':7, 'domain_u':8,
                                    'echo':9, 'eco_i':10, 'ecr_i':11, 'efs':12, 'exec':13, 'finger':14, 'ftp':15, 'ftp_data':16, 'gopher':17,
                                    'hostnames':18, 'http':19, 'http_443':20, 'imap4':21, 'IRC':22, 'iso_tsap':23, 'klogin':24, 'kshell':25, 'ldap':26,
                                    'link':27, 'login':28, 'mtp':29, 'name':30, 'netbios_dgm':31, 'netbios_ns':32, 'netbios_ssn':33, 'netstat':34, 'nnsp':35, 
                                     'nntp':36, 'ntp_u':37, 'other':38, 'pm_dump':39, 'pop_2':40, 'pop_3':41, 'printer':42, 'private':43, 'red_i':44, 'remote_job':45,
                                     'rje':46, 'shell':47, 'smtp':48, 'sql_net':49, 'ssh':50, 'sunrpc':51, 'supdup':52, 'systat':53, 'telnet':54, 'tftp_u':55,
                                     'time':56, 'tim_i':57, 'urh_i':58, 'urp_i':59, 'uucp':60, 'uucp_path':61, 'vmnet':62, 'whois':63,
                                     'X11':64, 'Z39_50':65, 'http_8001':66})
df['flag'] = df['flag'].replace({'OTH':0, 'REJ':1, 'RSTO':2, 'RSTOS0':3, 'RSTR':4, 'S0':5, 'S1':6, 'S2':7,
                                            'S3':8, 'SF':9, 'SH':10})

In [160]:
df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,Land,Wrong_fragment,urgent,hot,...,dst_hostsrv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,Attack_names
0,0,2,43,9,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,normal.
1,0,2,43,9,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,normal.
2,0,2,43,9,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,snmpgetattack.
3,0,2,43,9,105,146,0,0,0,0,...,254,1.0,0.01,0.01,0.0,0.0,0.0,0.0,0.0,snmpgetattack.
4,0,2,43,9,105,146,0,0,0,0,...,255,1.0,0.00,0.01,0.0,0.0,0.0,0.0,0.0,snmpgetattack.

In [161]:
labels=df1['Attack_names']
labels.head()

0           normal.
1           normal.
2    snmpgetattack.
3    snmpgetattack.
4    snmpgetattack.
Name: Attack_names, dtype: object

In [162]:
labels[labels!='normal.'] = 'attack'
labels.value_counts()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

attack     250436
normal.     60592
Name: Attack_names, dtype: int64

In [163]:
selected_features = [
    "duration","src_bytes",
    "dst_bytes","land","wrong_fragment","urgent","hot","num_failed_logins",
    "logged_in","num_compromised","root_shell","su_attempted","num_root",
    "num_file_creations","num_shells","num_access_files","num_outbound_cmds",
    "is_host_login","is_guest_login","count","srv_count","serror_rate",
    "srv_serror_rate","rerror_rate","srv_rerror_rate","same_srv_rate",
    "diff_srv_rate","srv_diff_host_rate","dst_host_count","dst_host_srv_count",
    "dst_host_same_srv_rate","dst_host_diff_srv_rate","dst_host_same_src_port_rate",
    "dst_host_srv_diff_host_rate","dst_host_serror_rate","dst_host_srv_serror_rate",
    "dst_host_rerror_rate","dst_host_srv_rerror_rate"
]

In [164]:
len(selected_features)

38

In [165]:
df=df.drop(['protocol_type','service','flag','Attack_names'],axis=1)

In [166]:
df.shape

(311028, 38)

In [167]:
df.describe()

,duration,src_bytes,dst_bytes,Land,Wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,dst_host_count,dst_hostsrv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
count,311028.000000,3.110280e+05,3.110280e+05,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,...,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000
mean,17.902793,1.731707e+03,7.479956e+02,0.000029,0.000762,0.000051,0.014677,0.002363,0.172476,0.011243,...,235.282618,199.193738,0.793494,0.024953,0.547920,0.004566,0.058764,0.058791,0.142659,0.141694
std,407.645054,1.276569e+05,1.612021e+04,0.005379,0.040367,0.009821,0.312069,0.049990,0.377795,1.958328,...,60.913386,100.306584,0.387090,0.096003,0.491963,0.035773,0.231296,0.232997,0.344380,0.346574
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.050000e+02,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,244.000000,0.970000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,5.200000e+02,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,255.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.032000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,255.000000,1.000000,0.010000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,57715.000000,6.282565e+07,5.203179e+06,1.000000,3.000000,3.000000,101.000000,4.000000,1.000000,796.000000,...,255.000000,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [168]:
#df=df.astype(float)
#df.apply(lambda x: MinMaxScaler().fit_transform(x))
#df.describe()

In [169]:
 X_train, X_test,y_train,y_test = train_test_split(df,labels, test_size=0.1,random_state=42)

In [170]:
#Training using KNN (Supervised Learning)
knn = KNeighborsClassifier(n_neighbors = 5, algorithm = 'ball_tree', leaf_size=500)
t0 = time()
knn.fit(X_train,y_train)
tt = time()-t0
print("Classifier trained in {} seconds".format(round(tt,3)))

Classifier trained in 183.284 seconds

In [172]:
#Prediction using KNN
t0 = time()
pred = knn.predict(X_test)
tt = time() - t0
print("Predicted in {} seconds".format(round(tt,3)))

Predicted in 349.95 seconds

In [173]:
#Calculating accuracy of KNN

acc = accuracy_score(pred, y_test)
print("Accuracy of KNN is {}.".format(round(acc,4)))

Accuracy of KNN is 0.9789.

In [174]:
#Unsupervised learning (K means clustering)

from sklearn.cluster import KMeans
k = 30
km = KMeans(n_clusters = k)

In [176]:
#Training into clusters using k-means 
t0 = time()
km.fit(X_test)
tt = time()-t0
print("Clustered in {} seconds".format(round(tt,3)))

Clustered in 9.974 seconds

In [177]:
#checking the cluster sizes
pd.Series(km.labels_).value_counts()

13    11022
0     10707
23     5559
26     1245
15      661
16      585
8       392
25      225
29      177
4       103
6        80
5        67
1        61
20       45
17       39
18       38
19       30
14       26
10       13
22       13
3         3
21        3
12        2
27        1
24        1
2         1
9         1
28        1
11        1
7         1
dtype: int64

In [186]:
label = df1['Attack_names']
label_names = list(map(
    lambda x: pd.Series([label[i] for i in range(len(km.labels_)) if km.labels_[i]==x]), 
    range(k)))

In [188]:
#Print labels for each cluster.
for i in range(k):
    print("Cluster {} labels:".format(i))
    print(label_names[i].value_counts())
    print()

Cluster 0 labels:
attack     10272
normal.      435
dtype: int64

Cluster 1 labels:
attack     59
normal.     2
dtype: int64

Cluster 2 labels:
attack    1
dtype: int64

Cluster 3 labels:
attack    3
dtype: int64

Cluster 4 labels:
attack     100
normal.      3
dtype: int64

Cluster 5 labels:
attack     64
normal.     3
dtype: int64

Cluster 6 labels:
attack     73
normal.     7
dtype: int64

Cluster 7 labels:
attack    1
dtype: int64

Cluster 8 labels:
attack     380
normal.     12
dtype: int64

Cluster 9 labels:
attack    1
dtype: int64

Cluster 10 labels:
attack     12
normal.     1
dtype: int64

Cluster 11 labels:
attack    1
dtype: int64

Cluster 12 labels:
attack    2
dtype: int64

Cluster 13 labels:
attack     10612
normal.      410
dtype: int64

Cluster 14 labels:
attack     25
normal.     1
dtype: int64

Cluster 15 labels:
attack     633
normal.     28
dtype: int64

Cluster 16 labels:
attack     563
normal.     22
dtype: int64

Cluster 17 labels:
attack    39
dtype: int64

Cluster 18 labels:
attack     36
normal.     2
dtype: int64

Cluster 19 labels:
attack     26
normal.     4
dtype: int64

Cluster 20 labels:
attack    45
dtype: int64

Cluster 21 labels:
attack    3
dtype: int64

Cluster 22 labels:
attack     12
normal.     1
dtype: int64

Cluster 23 labels:
attack     5341
normal.     218
dtype: int64

Cluster 24 labels:
attack    1
dtype: int64

Cluster 25 labels:
attack     216
normal.      9
dtype: int64

Cluster 26 labels:
attack     1202
normal.      43
dtype: int64

Cluster 27 labels:
attack    1
dtype: int64

Cluster 28 labels:
attack    1
dtype: int64

Cluster 29 labels:
attack     170
normal.      7
dtype: int64

In [190]:
#Predicting using k-means for test data
t0 = time()
pred = km.predict(X_test)
tt = time() - t0
print("Assigned clusters in {} seconds".format(round(tt,3)))

Assigned clusters in 0.096 seconds

In [191]:
print(km.labels_)

[13 13 13 ...  0 23 23]